{% extends "ui/base.html" %}
{% load staticfiles %}

{% block title-addendum %} - Invoices {% endblock title-addendum %}

{% block css %}
	{{block.super}}
	<link rel="stylesheet" href="{% static 'css/invoice.css' %}" type="text/css" />
{% endblock css %}

{% block header %}
<header>
	<h3 class="status complete">Created</h3>
	<h3 class="status inprocess">Sent</h3>
	<h3 class="status inprocess">$Paid$</h3>
</header>
{% endblock header %}

{% block main-content %}
<div class="invoice-body" data-bind="with: currentInvoice">
	<div class="row-fluid">
		<div class="pull-right invoice-id" data-bind="text: 'Invoice #' + pk()"></div>
	</div>
	<form id="lineitem-form">
		<div class="row-fluid">
			<div class="span3 sender address">
				<p>Mark
					<br>123 Main St
					<br>Anytown, USA 12345</p>
			</div>
			<div class="span3 pull-right recipient address">
				<div data-bind="text: full_name"></div>
				<div data-bind="text: street1"></div>
				<div data-bind="text: street2"></div>
				<span data-bind="text: city"></span>, <span data-bind="text: state"></span> <span data-bind="text: zip_code"></span>
				<br>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span7 offset1 invoice-heading">Invoice header, status, etc</div>
		</div>
		<table id="lineitem-list" class="table">
			<thead>
				<tr>
					<th style="width: 5%">&nbsp;</th>
					<th style="width: 50%">Description</th>
					<th style="width: 5%">Qty.</th>
					<th style="width: 13%">Unit Price</th>
					<th style="width: 5%">Taxable</th>
					<th style="width: 12%">Total Price</th>
				</tr>
			</thead>
			<tbody data-bind="foreach: lineitemObjs">
				<tr data-bind="attr: {id: pk}">
					<td data-bind="text: $index() + 1"></td>
					<td><a href="#" data-type="text" data-title="Description" data-bind="text: description"></a></td>
					<td><a href="#" data-type="text" data-title="Quantity" data-bind="text: quantity"></a></td>
					<td><a href="#" data-type="text" data-title="Unit Price" class="currency" data-bind="text: parseFloat(unit_price()).toFixed(2)"></a></td>
					<td><input name="Taxable" type="checkbox" data-bind="checked: taxable"></input></td>
					<td id="total" class="currency" data-bind="text: total"></td>
				</tr>
            </tbody>
          </table>
        </form>
      <hr>
      <div class="totalbox">
        <p class="totalLabel">Sub Total: <span class="total currency" data-bind="text: sub_total"></span></p>
        <p class="totalLabel">Tax: <span class="total currency" data-bind="text: total_tax"></span> 
        </p>
        <p class="totalLabel">Grand Total: <span class="total currency" data-bind="text: grand_total"></span> 
        </p>
      </div>
    </div>
    <button type="button" class="btn pull-right" style="margin: 4px;">Cancel</button>
    <button type="button" class="btn btn-primary pull-right" style="margin: 4px;">Save</button>
{% endblock main-content %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
	<script type="text/javascript" src="{% static 'js/lineitem.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/invoice.js' %}"></script>
<script type="text/javascript">
	/*global ko, $, invoice, lineitem */
	'use strict';
	$.fn.editable.defaults.mode = 'inline';
	$.fn.editable.defaults.showbuttons = false;
	$('#nav_invoices').addClass('active');
	
	$().ready(function() {
		$("#lineitem-list a").editable();

		// var newrow = $(document.getElementById("templates").innerHTML);
		// var $newrow = newrow.clone();
		// $newrow.attr('id', 'newlineitem').css('background', '#FAFAE6');
		// var currRowCount = $('#lineitem-list tbody')[0].rows.length;
		// $newrow.children('td:first').html(currRowCount); //it already be +1 because of the template row
		// $('#lineitem-list tbody').append($newrow);
		// $newrow.find('a').editable();
		// $newrow.show('slow', function() {
		// 	$newrow.css('background', '');
		// });

		// $('.recipient').editable({
		//   value: {
		//     full_name: 'Customer One',
		//     address1: '1234 Main St',
		//     address2: '',
		//     city: 'Anytown',
		//     state: 'NE',
		//     zip: '62932'
		//   },
		//   validate: function(value){
		//     if( value.address1 === '' )
		//       return 'Address is required';
		//     if( value.city === '' )
		//       return 'City is required';
		//     if( value.state === '' )
		//       return 'State is required';
		//     if( value.zip === '' )
		//       return 'Zip code is required';
		//     if( ! /(^\d{5}$)|(^\d{5}-\d{4}$)/.test(value.zip) )
		//       return 'Zip code in invalid format';
		//   },
		//   display: function(value){
		//     if( !value ){
		//       $(this).empty();
		//       return;
		//     }
		//     var thehtml = '<p>' + value.full_name + "<br>" + value.address1 + "<br>" + value.address2 + "<br>" + value.city + ", " + value.state + " " + value.zip + "</p>";
		//     $(this).html(thehtml);
		//   }
		// });
		// });
	});

	$(document).on('hidden', '#lineitem-list a', function(e, reason) {
		console.log("Editable hidden");
		if (reason === 'save' || reason === 'nochange') {
			var $next = $(this).closest('tr').next().find('.editable');
			setTimeout(function() {
				$next.editable('show');
			}, 300);
		}
	});
	
	ko.applyBindings(invoice);
</script>
{% endblock javascript %}

{% block hidden-html %}
<tr id="lineitem-template" style="display: none;">
	<td></td>
	<td>
		<a href="#" data-type="text" data-title="Description"></a>
	</td>
	<td>
		<a href="#" data-type="text" data-title="Quantity"></a>
	</td>
	<td>
		<a href="#" data-type="text" data-title="Unit Price" class="currency"></a>
	</td>
	<td>
		<input name="Taxable" type="checkbox" value="True" checked></input>
	</td>
	<td id="total" class="currency">0.00</td>
</tr>
{% endblock hidden-html %}